* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.content {
    position: relative;
    background: #1a1a1a;
    color: #fffdfd;
    min-height: 100vh;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card {
    display: flex;
    background: #212121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
}

.product-card p {
    display: block;
    position: relative;
}

.img-product {
    max-width: 150px;
    max-height: 150px;
}

.img-product img {
    width: 100%;
    min-height: 100%;
}

.product-detail {
    width: 100%;
}

.product-detail p {
    color: #ff1f57;
    font-size: 18px;
}

.product-name {
    font-size: 24px;
}

.wishlist-btn {
    margin-top: 30px;
}

.wishlist-btn a {
    text-decoration: none;
    color: #ffac42;
    transition: all 0.3s ease-out;
}

/* Style for the button */
.wishlist-btn button {
    text-decoration: none;
    color: #ffac42;
    transition: all 0.3s ease-out;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}


.wishlist-btn a:hover {
    color: #fffdfd;
}

.back a {
    display: flex;
    text-decoration: none;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 12px;
    width: 30vh;
    color: #fffdfd;
}

.back a:hover {
    color: #4d4d4d;
}

.batas {
    margin-left: 10px;
    margin-right: 10px;
}

.qty {
    position: relative;
}

.counter {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

.counter input {
    width: 50px;
    border: 0;
    font-size: 14px;
    text-align: center;
    background: none;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    user-select: none;
}

.checkout {
    display: inline-block;
    vertical-align: middle;
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.bn37 {
    border-color: transparent;
    background-color: #ffac42;
    color: #fffdfd;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
