* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.content {
    position: relative;
    background: #1a1a1a;
    color: #fffdfd;
    min-height: 100vh;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
}

.back a {
    display: flex;
    text-decoration: none;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 12px;
    width: 30vh;
    color: #fffdfd;
}

.back a:hover {
    color: #4d4d4d;
}

.top-forum {
    display: flex;
    position: relative;
}

.search-container {
    width: 200px;
    align-items: center;
    display: flex;
    position: absolute;
    right: 45px;
}

.search-container i {
    color: #fffdfd;
}

.search-container input[type="text"] {
    background-color: #333333;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    width: 400px;
    padding-left: 40px; /* add padding to the left side to make room for the icon */
    color: #fffdfd;
}

.search-container button[type="submit"] {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 15px;
    position: absolute;
    cursor: pointer;
    justify-content: center;
}

.card {
    background-color: #333333 !important;
    color: #fffdfd !important;
}

.card-header {
    color: #fffdfd !important;
    display: flex;
    position: relative;
    align-items: center;
}

.dropdown {
    position: absolute;
    top: 0px;
    right: 0;
}

.dropdown i {
    text-decoration: none;
    color: #fffdfd;
    font-size: 16px;
}

.card-body span {
    font-size: 12px;
    color: #aaa;
}

.btn {
    background-color: #ffac42 !important;
    outline: none !important;
    box-shadow: none !important;
}

a.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #fffdfd;
    background-color: #ffac42;
    text-align: center;
    transition: all 0.3s ease-out;
}
a.button3:hover {
    background-color: #fffdfd;
    color: #1a1a1a;
}

.thread-btn {
    text-decoration: none;
    color: #ffac42;
    transition: all 0.3s ease-out;
}

.thread-btn:hover {
    text-decoration: none;
    color: #fffdfd;
}

button {
    font-size: 14px;
    padding: 4px 8px;
    background-color: #ffac42;
    color: #fffdfd;
    border-radius: 10px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ffac42;
}
.comment-thread {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
    color: #fffdfd;
    border: 1px solid transparent; /* Removes margin collapse */
    background-color: #333333;
    border-radius: 10px;
}
.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-info {
    color: #fffdfd;
    margin-left: 10px;
}
.comment-author {
    color: #fffdfd;
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}
.replies {
    margin-left: 28px;
}

/* Adjustments for toggleable comments */

details.comment summary {
    position: relative;
    list-style: none;
    cursor: pointer;
}
details.comment summary::-webkit-details-marker {
    display: none;
}
details.comment:not([open]) .comment-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.comment-heading::after {
    display: inline-block;
    position: absolute;
    right: 5px;
    align-self: center;
    font-size: 12px;
    color: #fffdfd;
}
details.comment[open] .comment-heading::after {
    content: "Click to hide";
}
details.comment:not([open]) .comment-heading::after {
    content: "Click to show";
}

/* Adjustment for Internet Explorer */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* Resets cursor, and removes prompt text on Internet Explorer */
    .comment-heading {
        cursor: default;
    }
    details.comment[open] .comment-heading::after,
    details.comment:not([open]) .comment-heading::after {
        content: " ";
    }
}

/* Styling the reply to comment form */

.reply-form textarea {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}
.d-none {
    display: none;
}
