* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.content {
    position: relative;
    background: #1a1a1a;
    color: #fffdfd;
    min-height: 100vh;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.time-and-bid {
    display: flex;
}

.time-and-bid p {
    font-size: 18px;
}

.time-and-bid i {
    font-size: 24px;
    margin-right: 2px;
}

.time-and-bid span {
    margin: 0px 6px;
}

.time-and-bid a {
    text-decoration: none;
    color: #aaa;
    transition: all 0.4s ease;
}

.time-and-bid a:hover {
    color: #fffdfd;
}

.detail-item-harga {
    font-weight: bold;
    color: #ff1f57;
}

.button-bid {
    padding: 15px 230px;
}

.profile-section img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-section .username {
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.deskripsi-produk {
    display: inline-block;
    width: 625px;
    overflow: hidden;
}

.back a {
    display: flex;
    text-decoration: none;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 12px;
    width: 30vh;
    color: #fffdfd;
}

.back a:hover {
    color: #4d4d4d;
}

/* bagian button */
.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.bn37 {
    border-color: transparent;
    background-color: #ffac42;
    color: #fffdfd;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
